body, li, th, td {
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 95%; 
}

body { 
	margin: 0px; 
	background: #ffffff;
	color: #000000; 
}

td,th { 
	color: #000000;
}


img { 
	border : 0px;
}

a:link    { 
	color: #000099;
}

a:hover   { 
	color: #ff0000;
}

a:active  { 
	color: #ff0000;
}

a:visited { 
	color: #000099; 
}

.quote { 
	color: green; 
}

.signature { 
	font-size: smaller; 
	color: gray; 
}

.signature a:link    { 
	color: #9999ff; 
}

.signature a:hover   { 
	color: #ff9999; 
}

.signature a:active  { 
	color: #ff9999; 
}

.signature a:visited { 
	color: #ff66ff; 
}

.grouplisthead { 
	background: #cccccc; 
	font-weight: bold; 
	text-align: center; 
}

.even { 
	background: #eeeeee; 
}

.odd  { 
	background: #dddddd; 
}

.grouplistmsgs { 
	text-align: right; 
}

.alisthead { 
	background: #cccccc;
	font-weight: bold;
	text-align: center;
}

.activen { 
	color: gray; 
}

.headerlabel { 
	background: #cccccc; 
	font-weight: bold; 
	text-align: right; 
}

.headervalue { 
	background: #eeeeee; 
}

a.top { 
	text-decoration: none; 
}

tr.header {
    background: #9999cc;
}

tr.subheader {
    background: #666699;
    height : 2px;
}

.small {
    font-size: 75%;
    text-align: right;
}

.nav {
	width: 20%;
}